[Unit]
Description=vupeak service

[Service]
ExecStart=/usr/local/bin/vupeak > /var/log/vupeak.log 2>&1
Restart=always

[Install]
WantedBy=multi-user.target
