[Unit]
Description=vupeak service

[Service]
ExecStart=/bin/sh -ce '/usr/local/bin/vupeak -m spectrum -s 2 > /var/log/vupeak.log 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target
