[Unit]
Description=olaclient service
After=olad.service

[Service]
User=olad
ExecStart=/usr/local/bin/olaclient
Restart=always

[Install]
WantedBy=multi-user.target
