[Unit]
Description=olaclient service
After=olad.target

[Service]
ExecStart=/bin/sh -ce '/usr/local/bin/olaclient > /var/log/olaclient.log 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target
